body{
    display: block;
    margin: auto;
    max-width: 1000px;
    margin-top: 60px;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}

li{
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid rgb(138, 197, 138);
    padding-bottom: 16px;
}

li p{
    font-weight: bold;
}
